{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feliz Aniversário, Professora Isa!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="card">
        <h1>Feliz Aniversário, Professora Isa!</h1>
        <p>Que seu dia seja repleto de alegria, amor e muitas felicidades. Você é uma professora incrível e merece tudo de melhor!</p>
        <p>Com carinho,</p>
        <p>biel</p>
    </div>
    
</body>
</html>
